body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: auto;
  padding: 0 30px;  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  margin: 0;
  padding: 0;
}

.ContentWidth {
  width: 70%;
  margin: auto;
}

@media only screen and (max-width: 1279px) {
  .ContentWidth {
    width: 80%;
    margin: auto;
  }
}


@media only screen and (max-width: 959px) {
  .ContentWidth {
    width: 90%;
    margin: auto;
  }
}

@media only screen and (max-width: 599px) {
  .ContentWidth {
    width: 100%;
    margin: auto;
  }
}

